
<style>
    
    table {
        background-color: white;
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }
    th {
        background-color: #3B3E7C;
        color: white;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    .btn-custom {
        background-color: #BFB1C1;
        color: #454883;
        border-radius: 20px;
    }
    .btn-custom:hover {
        background: #454883;
        color: #BFB1C1;
    }
    .table-container {
        max-height: 450px; /* Set a max height for the table container */
        overflow-y: auto; /* Enable vertical scrolling */
        margin-top: 20px; /* Add some margin for spacing */
        width: 100%;
    }
    .active-link{
        background-color: #454883;
        color: white;
    }
    .btnn{
        background-color: #4CAF50 ;
        color: #FFFFFF;
        border-radius: 24px;
        width: 25%;
    }
    
</style>
    <div class="container d-flex flex-column mt-3" style="padding-top: 18px; gap: 30px;">
        <div>
            <span class="mb-3" id="name-of-class" style="font-size: 2rem;">   </span>
            <hr>
        </div>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex justify-content-end gap-2 flex-wrap">
                <button class="n-link btn btn-custom px-4" onclick="ChangeSection(this, 1)">الشعبة 1</button>
                <button class="n-link btn btn-custom px-4" onclick="ChangeSection(this, 2)">الشعبة 2</button>
                <button class="n-link btn btn-custom px-4" onclick="ChangeSection(this, 3)">الشعبة 3</button>
            </div>
            <button onclick="SendAbsence()" class="btn btnn btn-primary px-4">حفظ</button>
            
        </div>
    </div>
    
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>إسم الطالبة</th>
                    <th>الصف</th>
                    <th>الشعبة</th>
                    <th>رقم الأب</th>
                    <th>رقم الأم</th>
                    <th> غياب  </th>
                    <th> تعديل / حذف </th>
                </tr>
            </thead>
            <tbody id="students-table">
                <!-- Data will be inserted here -->
            </tbody>
        </table>
        
    </div>
    
    


<script>


    function ChangeSection(element , Editesection){
        let navlist= document.querySelectorAll('.n-link');

            navlist.forEach(link => {
                link.classList.remove('active-link');
        });

        element.classList.add('active-link');
        getQueryParams(Editesection);
    }

    function getQueryParams(section) {
        let navlist= document.querySelectorAll('.n-link');
        const classs = sessionStorage.getItem('classs');
        if(section === '1'){
            navlist[0].classList.add('active-link');
        }
        fetchStudents(classs,section);
    }

    

    function AddLink(){
        const editLink = document.querySelectorAll('.edit-student');

        editLink.forEach(link=>{
            link.addEventListener('click',function(){
                const data = this.getAttribute('data-page');
                console.log(data);
                editStudent('./student/edit.html' ,data);
            });
        });
    }
    
    async function fetchStudents(classs , section) {
        let ClassName=document.getElementById('name-of-class');
        ClassName.innerHTML='الصف '+classs;

        try {
            const url=`http://localhost:3000/student/get?classs=${classs}&section=${section}`;
                const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
             const students = await response.json();
            const tableBody = document.getElementById('students-table');
            tableBody.innerHTML = ''; 

            if (students.length > 0) {
                students.forEach(student=> {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${student.name}</td>
                        <td>${student.class}</td>
                        <td>${student.section}</td>
                        <td>${student.fatherPhone || 'N/A'}</td>
                        <td>${student.motherPhone || 'N/A'}</td>
                        <td><input type="checkbox" class="studentCheckbox" data-index="${student._id}" /></td>
                        <td>
                            <a href="#" class="edit-student" data-page='${student._id}' >
                                <i class="far fa-edit"></i>
                            </a>
                            <a href="#" onclick="deleteStudent('${student._id}' , '${student.name}' , '${student.section}')" >
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
                AddLink();
            } else {
                tableBody.innerHTML = '<tr><td colspan="5">لا يوجد طلاب</td></tr>';
            }
        } catch (error) {
            document.getElementById('students-table').innerHTML = `<tr><td colspan="5" style="color: red;">خطأ: ${error.message}</td></tr>`;
        }
    }







    async function deleteStudent(studentId , name , section){
        const confirmation = confirm(`هل أنت متأكد من حذف هذه الطالبة_____( ${name} ) ؟`);
        if (!confirmation) return;
        try{
            const url = `http://localhost:3000/student/delete?id=${studentId}`;
            const response = await fetch(url,{method : 'DELETE'})
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            const classs = sessionStorage.getItem('classs');
            fetchStudents(classs, section);
        }
        catch(error){
            alert('error : ' , error.message);
        }
    }


    async function SendAbsence () {
        const studentIds = [];
        document.querySelectorAll(".studentCheckbox:checked").forEach((checkbox) => {
            let studentId = checkbox.getAttribute("data-index");
            //selectedStudents.push(students[index]);
            studentIds.push(studentId);
        });

        if(studentIds.length === 0){
            alert('يجب تحديد طالبة على الأقل');
            return
        }
        const url = 'http://localhost:3000/student/create/absence';
        try{
            const response = await fetch(url,{
                method:'POST',
                headers: {
                    'Content-Type': 'application/json'  // Ensure JSON format
                },
                body:JSON.stringify({studentIds})
            });
            console.log("responsceeeeee",response)
            
            const result = await response.json();
            if(response.ok){
                alert(result.message);

            }
            else{
                alert('خطأ في الاضافة');
            }
        }
        catch(e){
            alert('خطأ في الاتصال في الخادم');
        }
    }
    
    


    function editStudent(page ,studentId) {
        const content = document.getElementById('sub_content');
        stuId = JSON.stringify(studentId);
        sessionStorage.setItem('studentId', stuId.trim()); 


        fetch(page)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.text();
            })
            .then(html => {
                content.innerHTML = html; 
                executeScripts(content); 
            })
            .catch(err => {
                content.innerHTML = `<p style="color: red;">Failed to load page: ${err.message}</p>`;
            });
    }

    function executeScripts(element) {
        const scripts = element.getElementsByTagName('script');
        for (let i = 0; i < scripts.length; i++) {
            const newScript = document.createElement('script');
            newScript.text = scripts[i].text; 
            document.body.appendChild(newScript).parentNode.removeChild(newScript); 
        }
    }


    getQueryParams(sessionStorage.getItem('section'));
</script>
