@font-face {
    font-family: 'Dubai';
    src: url('../fonts/Dubai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dubai';
    src: url('../fonts/Dubai-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai';
    src: url('../fonts/Dubai-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai';
    src: url('../fonts/Dubai-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}





.head-of-sidbar{
    font-family: 'Dubai', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
}
.sub-titel{
    font-family: 'Dubai', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}


body {
    margin: 0;
    height: 100vh;
    overflow-y: auto;
    direction: rtl; /* Ensures RTL layout */
    text-align: right;
}
.title{
    font-family: 'Dubai', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #343A40;
}

.content{
     display: flex;
    justify-content: center;
    width: 100%;
    /* overflow-y: auto; */
}
  
.sub_content{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    width: 100%;
    height: 100%;
    background: #3B3E7C; /* Sidebar background color */
    display: flex;
    flex-direction: column;
    margin: 0; /* Remove any default margin */
}
ul{
    border-radius: 24px;
    padding: 20px;
    width: 100%;
}

  

.sidebar .nav-link {
    color: #ffffff;
    text-align: right;
}
  
.sidebar .nav-link:hover {
    background: white;
    color: #3B3E7C;
    cursor: pointer;
}
  
  
a{
    border-radius: 20px;
}
  
a > span{
    font-family: 'Dubai', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}


.sidebar a.active {
    background-color: #ECE6F0;
    color: #3B3E7C;

}
