
    <style>
        .card-body {
            background-color: #BFB1C1;
            color: #454883;
            border-radius: 20px;
            text-align: center;
        }
        .card{
            border-radius: 20px;
        }
        .card-body:hover {
            cursor: pointer;
            background: white;
        }

    </style>
    <div class="container d-flex flex-column mt-3" style="padding-top: 18px; gap: 30px;">
        <div>
            <span class="mb-3" style="font-size: 2rem;"> الصفوف :</span>
            <hr>
        </div>


        <div class="row mt-4">
            <div class="col-md-3 mb-4">
                <div class="card">
                    
                    <div class="card-body" data-page="index.html" data-params="class=السادس الأساسي&section=1">
                        الصف السادس الأساسي
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body"  data-page="index.html" data-params="class=السابع الأساسي&section=1">
                        الصف السابع الأساسي
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4" >
                <div class="card">
                    <div class="card-body" data-page="index.html" data-params="class=الثامن الأساسي&section=1">
                        الصف الثامن الأساسي
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-body" data-page="index.html" data-params="class=التاسع الأساسي&section=1">
                        الصف التاسع الأساسي
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <script type="module" src="../wroot/js/classes/home.js"></script>



   
 





