
    <style>
        .card-body {
            background-color: #BFB1C1;
            color: #454883;
            border-radius: 20px;
            text-align: center;
            font-family: 'Dubai', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 30px;
        }
        .card{
            border-radius: 20px;
        }
        .card-body:hover {
            cursor: pointer;
            background: white;
        }

    </style>
    
    <div class="container d-flex flex-column mt-3" style="padding-top: 18px; gap: 30px;">
        <div>
            <span class="mb-3 title" style="font-size: 2rem;"> الصفوف :</span>
            <hr>
        </div>

        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-9">
                <div class="card">
                    <div class="card-body" data-page="index.html" data-params="class=السادس الأساسي&section=1">
                         <span>السادس الأساسي</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-9">
                <div class="card">
                    <div class="card-body"  data-page="index.html" data-params="class=السابع الأساسي&section=1">
                        <span>السابع الأساسي</span>
                </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-9">
                <div class="card">
                    <div class="card-body" data-page="index.html" data-params="class=الثامن الأساسي&section=1">
                        <span>الثامن الأساسي</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-9">
                <div class="card">
                    <div class="card-body" data-page="index.html" data-params="class=التاسع الأساسي&section=1">
                        <span>التاسع الأساسي</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    


    <script type="module" src="../wroot/js/classes/home.js"></script>



   
 





